/*
Description:
    Contains all the styles for the winning wheel page.
    
Verison History:
    2012-01-28, Douglas McKechie
    - Created based off earlier version.
    
    2015-09-26, Douglas McKechie
    - Minor updates for the 2.0 winwheel example.
*/

body
{
    font-family: arial;
}

button {
    outline: none;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

/* Sets the background image for the wheel */
.the_wheel
{
    background-image: url(../media/wheel-back1.png);
    background-position: center;
    background-repeat: no-repeat;
    padding:80px 0;
    margin-bottom: -50px;
    margin-top: 200px;
}

.plate{
    background-color: #e2e3ddfa;
    border-radius: 60px;
    display: inline-block;
    margin-left: 50px;
}

.plate span{
    font-size: 60px;
    margin:0 15px 20px 15px;
    font-weight:50;
    color:#c8c5c5;
}

.plate button{
    background-color: #acacac;
    border-radius: 50%;
    margin:10px 10px 0 0;
    float:right;

}

.plate img{
    margin:10px 5px;
}

.plate input{
    width:600px;
    outline: none;
    border: 9px solid #ffd35c;
    border-radius: 50px;
    overflow: hidden;
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    margin:10px 0 15px 15px;

}
/* Do some css reset on selected elements */
h1, p
{
    margin: 0;
}

div.power_controls
{
    margin-right:70px;
}

div.html5_logo
{
    margin-left:70px;
}


/* Style applied to the spin button once a power has been selected */
.clickable
{
    cursor: pointer;
}

/* Other misc styles */
.margin_bottom
{
    margin-bottom: 5px;
}


.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}
.ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0.2s;
}